@import "../../assets/style/variable";
.node-container-wrapper {
  .node-container-default {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid rgb(215, 213, 210);
    background-color: rgb(255, 253, 249);
    color: rgb(45, 46, 46);
    transition: opacity 150ms ease-out 0s, box-shadow 150ms ease-out 0s,
      border-color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    box-shadow: inherit;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    width: 500px;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
      cursor: pointer;
    }
    &.node-container-path {
      border: 1px solid rgb(64, 63, 62);
      background-color: rgb(64, 63, 62);
      color: rgb(255, 253, 249);
    }
    .node-container-left {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      position: relative;
      width: 60px;
      min-width: 60px;
      height: 60px;
      border: 1px solid rgb(230, 230, 230);
      border-radius: 8px;
      box-sizing: border-box;
      box-shadow: none;
      background-color: #fffdf9;
      &.OUTBOUND {
        background-color: $background-outbound;
      }
      &.INBOUND {
        background-color: $background-inbound;
      }
      &.WRITE_TO_DB {
        background-color: $background-write;
      }
      &.END {
        background-color: $background-end;
      }
      &.WAIT {
        background-color: $background-wait;
      }
      .node-container-left-error {
        position: absolute;
        right: -12px;
        top: -10px;
      }
    }
    .node-container-middle {
      display: flex;
      flex-direction: column;
      gap: 5px;
      // align-items: start;
      width: 100%;
      margin-left: 20px;
      justify-content: center;
      &-centralize {
        align-items: center;
        justify-content: center;
        margin-left: 0;
      }
    }
    .node-container-right {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      gap: 5px;
      margin-left: auto;
      padding-left: 20px;
    }
    &-path-branch {
      border: none;
      background-color: transparent;
      padding: 0;
      &:hover {
        box-shadow: none;
      }
    }
    .node-container-hovererd {
      position: absolute;
      height: 80px;
      width: 100%;
      top: -25px;
      border-radius: 5px;
      border-color: rgb(61, 69, 146);
      border-style: dotted;
      background-color: rgb(240, 241, 250);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .node-container-hover-icon {
      position: absolute;
      left: -30px;
      top: calc(50% - 15px);
    }
  }

  .node-header {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: rgb(45, 46, 46);
  }
  .node-body {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .node-container-path {
    .node-header {
      color: rgb(255, 253, 249);
    }
  }

  .node-sub-header {
    font-size: 18px;
    font-weight: 400;
    color: rgb(45, 46, 46);
  }

  .node-empty-path-branch {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 253, 249);
    background-color: rgb(64, 63, 62);
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    transition: background-color 300ms ease-in-out 0s;
    border: none;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      inset: 0px;
      border: 2px solid transparent;
      border-radius: 50%;
      transition-property: all;
      transition-timing-function: ease-in-out;
      transition-duration: 200ms;
    }
    &:hover {
      outline: none;
      background-color: rgb(45, 46, 46);
      &::before {
        border-color: rgb(45, 46, 46);
        inset: -5px;
      }
      + .node-empty-path-branch-tooltip {
        display: flex;
      }
    }
    img {
      height: 18px;
      width: 18px;
    }
  }
  .node-empty-path-branch-tooltip {
    position: absolute;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    pointer-events: none;
    left: calc(50% + 30px);
    height: 100%;
    top: 0px;
    &-content {
      pointer-events: none;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      background-color: rgb(45, 46, 46);
      color: rgb(255, 253, 249);
      width: fit-content;
      padding: 2px 11px;
      border-radius: 100px;
      white-space: pre;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px 0px;
      opacity: 1;
      transition: opacity 300ms ease-in-out 0s;
    }
  }
  .node-empty-add-step-branch-container {
    background: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 20px;
    overflow: visible;
    position: relative;
    z-index: 10000;
    .node-empty-add-step-branch {
      background-color: rgb(247, 245, 242);
      width: 27px;
      height: 27px;
      border: 2px solid rgb(247, 245, 242);
      border-radius: 10px;
      color: rgb(61, 69, 146);
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      transition: background-color 300ms ease-in-out 0s,
        color 300ms ease-in-out 0s;
      background-image: url("../../assets/img/plusBlue.svg");
      &:hover {
        outline: none;
        color: rgb(255, 253, 249);
        background-color: rgb(61, 69, 146);
        background-image: url("../../assets/img/plus.svg");
      }
    }
    &:hover {
      + .node-empty-path-branch-tooltip {
        display: flex;
      }
    }
  }
}

#coverup {
  background: white;
  width: 170px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.draggingElem {
  background-color: orange;
  pointer-events: none;
  list-style-type: none;
}
