.path-branch-container {
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 10px 5px 15px;
  box-sizing: border-box;
  max-width: 500px;
  gap: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 253, 249);
  background-color: rgb(64, 63, 62);
  border-radius: 20px;
  transition: background-color 300ms ease-in-out 0s;
  flex-shrink: 0;
}
